flows_DT-TT-119086.json
[{"id":"27bf3234.d9598e","type":"tab","label":"Dispatcher","disabled":true,"info":""},{"id":"70089323.1c4e3c","type":"tab","label":"NX Ansteuerung","disabled":true,"info":""},{"id":"c0b2d8d2.379fe8","type":"tab","label":"Get Documents","disabled":true,"info":""},{"id":"c3e2d87.f72a228","type":"tab","label":"ERP - Dispatcher - Web/DB","disabled":true,"info":""},{"id":"9b30fbab.541308","type":"tab","label":"Dev Umgebung","disabled":true,"info":""},{"id":"818c3411.faf3b8","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"86d8d09a.78079","type":"tab","label":"DigitalTwin MAN","disabled":true,"info":""},{"id":"b7da2b4c.163ff8","type":"tab","label":"Raspberry PI","disabled":false,"info":""},{"id":"aa72e3e2.c257e","type":"tab","label":"Raspberry PI","disabled":false,"info":""},{"id":"879f06a0.3df118","type":"subflow","name":"soap2json (2)","info":"","in":[{"x":104,"y":270,"wires":[{"id":"55f9631e.6391ac"}]}],"out":[{"x":680,"y":180,"wires":[{"id":"8866869c.f58728","port":0}]},{"x":840,"y":360,"wires":[{"id":"e6523aa4.9604c8","port":0}]}]},{"id":"6a5e1e5e.19438","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"fe8621c2.d486e","type":"ui_group","z":"","name":"Default","tab":"6a5e1e5e.19438","order":1,"disp":true,"width":"6"},{"id":"aabafb36.10ca88","type":"ui_group","name":"Group 2","tab":"6a5e1e5e.19438","order":2,"disp":true,"width":6},{"id":"ea995099.41071","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#03037e","baseFont":"Helvetica Neue","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"831ae22c.1ec1d","type":"ui_group","z":"","name":"Bier","tab":"61c984b5.d5844c","disp":true,"width":"6"},{"id":"61c984b5.d5844c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"2b5a1479.9d643c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#ff8000","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#ff8000","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ffa64d","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#ff8000","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"74fc8f19.e46c8","type":"ui_tab","z":"","name":"Beer Simple","icon":"dashboard","order":2},{"id":"6c605c43.9f1884","type":"ui_group","z":"","name":"Bier","tab":"74fc8f19.e46c8","order":1,"disp":true,"width":"12"},{"id":"fcad2bd6.57a0b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#5c5a74","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#4834fe","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#5c5a74","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#817f9c","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#5c5a74","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1e9d24ad.370abb","type":"ui_group","z":"","name":"Druckwerte","tab":"94fd6b51.be4238","order":2,"disp":true,"width":"6"},{"id":"ffa377c8.6aef48","type":"ui_group","z":"","name":"Analoge / berechnete Werte","tab":"94fd6b51.be4238","order":1,"disp":true,"width":"4"},{"id":"f36979c.94fda88","type":"ui_group","z":"","name":"sensors (dummy values for now)","tab":"5543381c.d66498","order":3,"disp":true,"width":"6"},{"id":"66d79992.00ce38","type":"ui_group","z":"","name":"faked input (to be removed later)","tab":"5543381c.d66498","order":2,"disp":true,"width":"4"},{"id":"a61fd2ea.a4e1","type":"ui_group","z":"","name":"preassure differences","tab":"5543381c.d66498","order":4,"disp":true,"width":"6"},{"id":"372dd637.d2fa9a","type":"ui_group","z":"","name":"simplified statements","tab":"5543381c.d66498","order":5,"disp":true,"width":"6"},{"id":"884b5775.0c3d68","type":"ui_group","z":"","name":"actually needed input","tab":"5543381c.d66498","order":1,"disp":true,"width":"4"},{"id":"5543381c.d66498","type":"ui_tab","z":"","name":"MAN LookUp v0.1","icon":"dashboard","order":2},{"id":"3343c94f.c25ce6","type":"websocket-listener","z":"","path":"/ws/pi","wholemsg":"false"},{"id":"94fd6b51.be4238","type":"ui_tab","z":"","name":"MAN LookUp v0.2","icon":"dashboard"},{"id":"ca1dc326.f3dda","type":"ui_group","z":"","name":"Ventilator Werte","tab":"94fd6b51.be4238","order":4,"disp":true,"width":"12"},{"id":"3ca14dfd.d8ec32","type":"ui_group","z":"","name":"Druckwerte Mittel","tab":"94fd6b51.be4238","order":3,"disp":true,"width":"6"},{"id":"a55f9bb2.574548","type":"ui_group","z":"","name":"Leistungswerte","tab":"94fd6b51.be4238","disp":true,"width":"4"},{"id":"ca392ea0.90a16","type":"ui_group","z":"","name":"Druckwerte","tab":"68a9989a.e0d238","order":2,"disp":true,"width":"6"},{"id":"d03e8cf7.5d584","type":"ui_group","z":"","name":"Ventilator Werte","tab":"68a9989a.e0d238","order":4,"disp":true,"width":"12"},{"id":"813f2d04.5c0bf","type":"ui_group","z":"","name":"Analoge / berechnete Werte","tab":"68a9989a.e0d238","order":1,"disp":true,"width":"4"},{"id":"18b8b5b.ae2bf4a","type":"ui_group","z":"","name":"Leistungswerte","tab":"68a9989a.e0d238","disp":true,"width":"4"},{"id":"55344e61.ebe43","type":"ui_group","z":"","name":"Aussagen","tab":"68a9989a.e0d238","disp":true,"width":"6"},{"id":"68a9989a.e0d238","type":"ui_tab","z":"","name":"MAN LookUp v0.2","icon":"dashboard"},{"id":"3b7992a7.df9fae","type":"http in","z":"27bf3234.d9598e","name":"","url":"/ftkd","method":"post","swaggerDoc":"","x":120,"y":160,"wires":[["87a6d02d.cb806","a9b94a5d.1ec088"]]},{"id":"87a6d02d.cb806","type":"debug","z":"27bf3234.d9598e","name":"","active":true,"console":"false","complete":"payload","x":310,"y":140,"wires":[]},{"id":"9fa4d80.0efdd28","type":"switch","z":"27bf3234.d9598e","name":"","property":"payload.method","propertyType":"msg","rules":[{"t":"eq","v":"sendSupportRequest","vt":"str"},{"t":"eq","v":"createOffer","vt":"str"},{"t":"eq","v":"createOrder","vt":"str"},{"t":"eq","v":"updateUser","vt":"str"},{"t":"eq","v":"createSTEP","vt":"str"},{"t":"eq","v":"getSTEP","vt":"str"},{"t":"eq","v":"getDocument","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":8,"x":338.0000114440918,"y":408.0000114440918,"wires":[["8bf4ac08.c3943","cbb70a56.def668"],["a7453dc7.5c0be","50af69d6.f93ac8"],["a3bccae0.8fb178","c2ea4e9.678c2b"],["668135d6.b70cbc","c47942a9.967bb"],["23e24d30.ff3eb2"],["2f2f53c6.700cfc"],["25065d58.7d2f22"],["9fbcdf7.7247d2"]]},{"id":"a9b94a5d.1ec088","type":"function","z":"27bf3234.d9598e","name":"Security Check IP / Hostname","func":"var md5 = global.get('md5');\nvar pass = 0;\n\nvar d = new Date();\nvar day = d.getDate();\nvar mon = d.getMonth() + 1;\nvar year = d.getFullYear();\nvar key = day + \":\" + mon + \":\" + year;\n\nvar hash = md5(key);\nvar mac = md5(\"00-50-56-80-1C-6B\");\n// for debug only\n// node.warn(hash);\n// node.warn(key);\n// end deubg\nif (hash == msg.payload.ftkhash) pass++;\nelse node.warn(\"date hash falsch\");\n\nif (mac == msg.payload.mac) pass++;\nelse node.warn(\"mac hash falsch\");\n\n// if = passed security check\nif (pass >= 2) {\n    return [null, msg];      \n}\n// else = ERROR\nelse {\n    return [msg, null];  \n}\n","outputs":"2","noerr":0,"x":370,"y":180,"wires":[["80c67444.21e5e8"],["9e07fb50.334878"]]},{"id":"80c67444.21e5e8","type":"function","z":"27bf3234.d9598e","name":"return forbidden","func":"msg.payload = \"ERROR from ftkdispatcher\";\nmsg.statusCode = 403;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":180,"wires":[["ca6d6c20.114ac","4a4bc1fe.7db75"]]},{"id":"ca6d6c20.114ac","type":"http response","z":"27bf3234.d9598e","name":"","x":810,"y":180,"wires":[]},{"id":"4a4bc1fe.7db75","type":"debug","z":"27bf3234.d9598e","name":"","active":true,"console":"false","complete":"payload","x":830,"y":140,"wires":[]},{"id":"8bf4ac08.c3943","type":"debug","z":"27bf3234.d9598e","name":"","active":true,"console":"false","complete":"true","x":150.00001525878906,"y":695.999981880188,"wires":[]},{"id":"50af69d6.f93ac8","type":"debug","z":"27bf3234.d9598e","name":"","active":true,"console":"false","complete":"payload","x":170.00001525878906,"y":1035.999981880188,"wires":[]},{"id":"c04631cc.0389d","type":"comment","z":"27bf3234.d9598e","name":"======== SUPPORT TRACK ========================================================================================================","info":"","x":600.0000152587891,"y":655.999981880188,"wires":[]},{"id":"cbb70a56.def668","type":"function","z":"27bf3234.d9598e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":150.00001525878906,"y":735.999981880188,"wires":[["e2909b93.f9e958"]]},{"id":"cb4bb181.17e5c","type":"comment","z":"27bf3234.d9598e","name":"======== OFFER TRACK ========================================================================================================","info":"","x":590.0000152587891,"y":995.999981880188,"wires":[]},{"id":"a7453dc7.5c0be","type":"function","z":"27bf3234.d9598e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":150.00001525878906,"y":1075.999981880188,"wires":[["3996480a.3d2168","891e9ccf.eb085","2a3fc5e5.c031aa"]]},{"id":"d899f022.e4ca9","type":"http response","z":"27bf3234.d9598e","name":"","x":810,"y":1060,"wires":[]},{"id":"a3bccae0.8fb178","type":"debug","z":"27bf3234.d9598e","name":"","active":true,"console":"false","complete":"payload","x":170.00001525878906,"y":1275.999981880188,"wires":[]},{"id":"236f16d2.ac032a","type":"comment","z":"27bf3234.d9598e","name":"======== ORDER TRACK ========================================================================================================","info":"","x":590.0000152587891,"y":1235.999981880188,"wires":[]},{"id":"c2ea4e9.678c2b","type":"function","z":"27bf3234.d9598e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":150.00001525878906,"y":1315.999981880188,"wires":[["8f1de55d.8a7728","1464c50f.9af76b"]]},{"id":"9d750467.1f87e8","type":"http response","z":"27bf3234.d9598e","name":"","x":810,"y":1300,"wires":[]},{"id":"668135d6.b70cbc","type":"debug","z":"27bf3234.d9598e","name":"","active":true,"console":"false","complete":"payload","x":170.00001525878906,"y":1555.999981880188,"wires":[]},{"id":"81b040f2.5e4f2","type":"comment","z":"27bf3234.d9598e","name":"======== UPDATE USER TRACK ========================================================================================================","info":"","x":620.0000152587891,"y":1515.999981880188,"wires":[]},{"id":"c47942a9.967bb","type":"function","z":"27bf3234.d9598e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":150.00001525878906,"y":1595.999981880188,"wires":[["10283a5b.55ad86","df38b781.e0aa48"]]},{"id":"10283a5b.55ad86","type":"http response","z":"27bf3234.d9598e","name":"","x":810.0000152587891,"y":1575.999981880188,"wires":[]},{"id":"2f2f53c6.700cfc","type":"link out","z":"27bf3234.d9598e","name":"NX get TRACK","links":["1fe914ad.c22dab"],"x":755,"y":320,"wires":[]},{"id":"e2909b93.f9e958","type":"function","z":"27bf3234.d9598e","name":"Feder ja/nein","func":"if (msg.payload.params.spring) {\n    return [msg, null];\n}\nelse {\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":380.00001525878906,"y":735.999981880188,"wires":[["cfca3829.324eb8","575b261c.d14cc8"],["be385867.9a57e8","575b261c.d14cc8"]]},{"id":"57137b42.56b374","type":"http response","z":"27bf3234.d9598e","name":"request response","x":910.0000152587891,"y":755.999981880188,"wires":[]},{"id":"cfca3829.324eb8","type":"function","z":"27bf3234.d9598e","name":"Kunden Innendienst","func":"/*\nvar obj = {\n    \"status\": 200,\n    \"method\" : \"return from Support mit Feder\",\n    \"payload\" : \"Vielen Dank für Ihre Support Anfrage zu einer spezifischen Feder. Der Kundendienst wird sich schnellst möglich darum kümmern.\"\n};\n\nmsg.payload = obj;\n\n*/\n\nmsg.payload = \"Vielen Dank für Ihre Support Anfrage zu einer spezifischen Feder. Der Kundendienst wird sich schnellst möglich darum kümmern.\";\nreturn msg;","outputs":1,"noerr":0,"x":680.0000152587891,"y":755.999981880188,"wires":[["57137b42.56b374","878afa62.108c58"]]},{"id":"be385867.9a57e8","type":"function","z":"27bf3234.d9598e","name":"Kunden Innendienst","func":"/*\nvar obj = {\n    \"status\": 200,\n    \"method\" : \"return from Support mit Feder\",\n    \"payload\" : \"Vielen Dank für Ihre Support Anfrage zu einer spezifischen Feder. Der Kundendienst wird sich schnellst möglich darum kümmern.\"\n};\n\nmsg.payload = obj;\n\n*/\n\nmsg.payload = \"Vielen Dank für Ihre Support Anfrage. Der Kundendienst wird sich schnellst möglich darum kümmern.\";\nreturn msg;","outputs":1,"noerr":0,"x":680.0000152587891,"y":855.999981880188,"wires":[["aa584b7.76d04b8","b7222d8b.968ff"]]},{"id":"aa584b7.76d04b8","type":"http response","z":"27bf3234.d9598e","name":"request response","x":910.0000152587891,"y":855.999981880188,"wires":[]},{"id":"a40f48cf.cb0028","type":"comment","z":"27bf3234.d9598e","name":"Support mit Federwerte","info":"","x":680.0000152587891,"y":715.999981880188,"wires":[]},{"id":"b78ec4c5.f20ad8","type":"comment","z":"27bf3234.d9598e","name":"Support ohne Federwerte","info":"","x":690.0000152587891,"y":815.999981880188,"wires":[]},{"id":"9fbcdf7.7247d2","type":"function","z":"27bf3234.d9598e","name":"return method error ","func":"msg.payload = \"METHOD ERROR Dispatcher\";\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":584.4445152282715,"y":524.4444456100464,"wires":[["dcc1be91.247a4","b7735f8e.98247"]]},{"id":"dcc1be91.247a4","type":"http response","z":"27bf3234.d9598e","name":"","x":774.4445152282715,"y":524.4444456100464,"wires":[]},{"id":"b7735f8e.98247","type":"debug","z":"27bf3234.d9598e","name":"","active":true,"console":"false","complete":"payload","x":794.4445152282715,"y":484.4444456100464,"wires":[]},{"id":"a50ccf5b.11e94","type":"comment","z":"27bf3234.d9598e","name":"= NX get TRACK =","info":"","x":830,"y":280,"wires":[]},{"id":"20848667.7a6e2a","type":"comment","z":"27bf3234.d9598e","name":"= NX create TRACK =","info":"","x":600,"y":280,"wires":[]},{"id":"23e24d30.ff3eb2","type":"link out","z":"27bf3234.d9598e","name":"NX create TRACK","links":["f7baee34.a2979"],"x":515,"y":320,"wires":[]},{"id":"9e07fb50.334878","type":"function","z":"27bf3234.d9598e","name":"clear security values","func":"if (msg.payload.ftkhash) {\n    delete msg.payload.ftkhash;\n}\nif (msg.payload.mac) {\n    delete msg.payload.mac;\n}\n\nif (msg.payload.params.ftkhash) {\n    delete msg.payload.params.ftkhash;\n}\nif (msg.payload.params.mac) {\n    delete msg.payload.params.mac;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["9fa4d80.0efdd28"]]},{"id":"878afa62.108c58","type":"debug","z":"27bf3234.d9598e","name":"console","active":true,"console":"false","complete":"payload","x":880.0000152587891,"y":715.999981880188,"wires":[]},{"id":"b7222d8b.968ff","type":"debug","z":"27bf3234.d9598e","name":"console","active":true,"console":"false","complete":"payload","x":880.0000152587891,"y":815.999981880188,"wires":[]},{"id":"2a3fc5e5.c031aa","type":"http request","z":"27bf3234.d9598e","name":"ERP","method":"POST","ret":"txt","url":"http://dku.ftk.federp.federtechnik.ch/webshop/createOffer/","tls":"","x":950.0000152587891,"y":1095.999981880188,"wires":[["60023244.e23f2c"]]},{"id":"701c81f7.bab75","type":"debug","z":"27bf3234.d9598e","name":"console","active":true,"console":"false","complete":"payload","x":960.0000152587891,"y":1175.999981880188,"wires":[]},{"id":"60023244.e23f2c","type":"json","z":"27bf3234.d9598e","name":"","x":950.0000152587891,"y":1135.999981880188,"wires":[["701c81f7.bab75"]]},{"id":"a2bd1718.908778","type":"comment","z":"27bf3234.d9598e","name":"ERP Dummy","info":"","x":950.0000152587891,"y":1055.999981880188,"wires":[]},{"id":"8f1de55d.8a7728","type":"http request","z":"27bf3234.d9598e","name":"ERP","method":"POST","ret":"txt","url":"http://dku.ftk.federp.federtechnik.ch/webshop/createOrder/","tls":"","x":950.0000152587891,"y":1335.999981880188,"wires":[["4b1a7d97.5cba44"]]},{"id":"8e9d6e9d.24b3b","type":"debug","z":"27bf3234.d9598e","name":"console","active":true,"console":"false","complete":"payload","x":960.0000152587891,"y":1415.999981880188,"wires":[]},{"id":"4b1a7d97.5cba44","type":"json","z":"27bf3234.d9598e","name":"","x":950.0000152587891,"y":1375.999981880188,"wires":[["8e9d6e9d.24b3b"]]},{"id":"ea2f98cf.4efd18","type":"comment","z":"27bf3234.d9598e","name":"ERP Dummy","info":"","x":950.0000152587891,"y":1295.999981880188,"wires":[]},{"id":"df38b781.e0aa48","type":"http request","z":"27bf3234.d9598e","name":"ERP","method":"POST","ret":"txt","url":"http://13.94.206.170:1880/erpdummy","tls":"","x":950.0000152587891,"y":1615.999981880188,"wires":[["b902bb84.20c848"]]},{"id":"5899bcc3.ff5044","type":"debug","z":"27bf3234.d9598e","name":"console","active":true,"console":"false","complete":"payload","x":960.0000152587891,"y":1695.999981880188,"wires":[]},{"id":"b902bb84.20c848","type":"json","z":"27bf3234.d9598e","name":"","x":950.0000152587891,"y":1655.999981880188,"wires":[["5899bcc3.ff5044"]]},{"id":"181b0372.c83cad","type":"comment","z":"27bf3234.d9598e","name":"ERP Dummy","info":"","x":950.0000152587891,"y":1575.999981880188,"wires":[]},{"id":"f7baee34.a2979","type":"link in","z":"70089323.1c4e3c","name":"NX create TRACK","links":["7e67aef1.63b2f","209a13a4.5a77ec","f895bba6.4313e8","23e24d30.ff3eb2","d44c05f.24b2ff8","3e5b2780.d22ce8"],"x":235,"y":160,"wires":[["13589b34.e585e5","a4d6304a.f7daa"]]},{"id":"a4d6304a.f7daa","type":"debug","z":"70089323.1c4e3c","name":"","active":false,"console":"false","complete":"payload","x":190,"y":240,"wires":[]},{"id":"327774fc.8f42bc","type":"comment","z":"70089323.1c4e3c","name":"======== NX create STEP TRACK ========================================================================================================","info":"","x":640,"y":200,"wires":[]},{"id":"13589b34.e585e5","type":"function","z":"70089323.1c4e3c","name":"Material Mapping","func":"\nif (msg.payload.params.spring.mq == \"14\") {\n    msg.payload.params.spring.mq = \"SH\";\n}\n\nif (msg.payload.params.spring.mq == \"16\") {\n    msg.payload.params.spring.mq = \"DH\";\n}\n\nif (msg.payload.params.spring.mq == \"26\") {\n    msg.payload.params.spring.mq = \"VDSiCr\";\n}\n\nif (msg.payload.params.spring.mq == \"31\") {\n    msg.payload.params.spring.mq = \"X 10 CrNi 18-8\";\n}\n\nif (msg.payload.params.spring.mq == \"32\") {\n    msg.payload.params.spring.mq = \"X 5 CrNiMo 17-12-2\";\n}\n\nif (msg.payload.params.spring.mq == \"33\") {\n    msg.payload.params.spring.mq = \"X 7 CrNiAl 17-7\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":280,"wires":[["9b44a68d.b9bb78"]]},{"id":"9b44a68d.b9bb78","type":"http request","z":"70089323.1c4e3c","name":"createSTEP","method":"POST","ret":"txt","url":"http://192.168.11.31:1880/createSTEP","tls":"","x":410,"y":280,"wires":[["1d6a7cd7.6e9763","f513d1a0.93ff5"]]},{"id":"1d6a7cd7.6e9763","type":"http response","z":"70089323.1c4e3c","name":"","x":590,"y":280,"wires":[]},{"id":"f513d1a0.93ff5","type":"debug","z":"70089323.1c4e3c","name":"","active":false,"console":"false","complete":"payload","x":610,"y":240,"wires":[]},{"id":"1fe914ad.c22dab","type":"link in","z":"70089323.1c4e3c","name":"NX get TRACK","links":["abbb869b.cee608","98f2e18a.34e2d","69567509.6a954c","2f2f53c6.700cfc"],"x":235,"y":380,"wires":[["d87e5385.cee5b","cb62bd3d.f1687"]]},{"id":"cb62bd3d.f1687","type":"debug","z":"70089323.1c4e3c","name":"","active":true,"console":"false","complete":"payload","x":190,"y":460,"wires":[]},{"id":"6e2a837f.d1b3dc","type":"comment","z":"70089323.1c4e3c","name":"======== NX get STEP TRACK ========================================================================================================","info":"","x":630,"y":420,"wires":[]},{"id":"d87e5385.cee5b","type":"function","z":"70089323.1c4e3c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":500,"wires":[["e37fe72e.a5d318"]]},{"id":"e37fe72e.a5d318","type":"http request","z":"70089323.1c4e3c","name":"getSTEP","method":"POST","ret":"bin","url":"http://192.168.11.31:1880/getSTEP","tls":"","x":320,"y":500,"wires":[["664b64dc.17fb9c","8c6587fc.4666b8"]]},{"id":"664b64dc.17fb9c","type":"http response","z":"70089323.1c4e3c","name":"","x":510,"y":500,"wires":[]},{"id":"8c6587fc.4666b8","type":"debug","z":"70089323.1c4e3c","name":"","active":true,"console":"false","complete":"payload","x":530,"y":460,"wires":[]},{"id":"29d3f608.dfe44a","type":"inject","z":"70089323.1c4e3c","name":"PING NX Server","topic":"","payload":"PING 192.168.11.31","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":660,"wires":[["b8c1953b.65de78"]]},{"id":"b8c1953b.65de78","type":"exec","z":"70089323.1c4e3c","command":"ping -c 1 192.168.11.31","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":410,"y":660,"wires":[["6d58c54d.c83cdc"],["b966e22e.d6862"],["1e18aa59.559066"]]},{"id":"6d58c54d.c83cdc","type":"debug","z":"70089323.1c4e3c","name":"","active":true,"console":"false","complete":"false","x":670,"y":620,"wires":[]},{"id":"b966e22e.d6862","type":"debug","z":"70089323.1c4e3c","name":"","active":true,"console":"false","complete":"false","x":650,"y":660,"wires":[]},{"id":"1e18aa59.559066","type":"debug","z":"70089323.1c4e3c","name":"","active":true,"console":"false","complete":"false","x":630,"y":700,"wires":[]},{"id":"10c6919e.10e69e","type":"comment","z":"c3e2d87.f72a228","name":"=== Posts from ERP to Web / DB =====","info":"","x":180,"y":80,"wires":[]},{"id":"4d5602c5.481a8c","type":"inject","z":"9b30fbab.541308","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":243,"y":270,"wires":[["5e962d40.1afa84","9bf4d47f.059308"]]},{"id":"5e962d40.1afa84","type":"file in","z":"9b30fbab.541308","name":"pdf","filename":"/media/storage/Dispatcher_Kommuikation-05.pdf","format":"","x":413,"y":310,"wires":[["b9a58aae.e355f8","512af520.07d5ac"]]},{"id":"b9a58aae.e355f8","type":"debug","z":"9b30fbab.541308","name":"","active":true,"console":"false","complete":"false","x":613,"y":330,"wires":[]},{"id":"9bf4d47f.059308","type":"file in","z":"9b30fbab.541308","name":"step","filename":"/media/storage/22645_Lo.stp","format":"","x":413,"y":350,"wires":[["b9a58aae.e355f8","8d01f9fb.ed6e38"]]},{"id":"e7bcbdc4.5eacc","type":"http in","z":"9b30fbab.541308","name":"","url":"/pdf","method":"get","swaggerDoc":"","x":243,"y":310,"wires":[["5e962d40.1afa84"]]},{"id":"cc188b04.22a048","type":"http in","z":"9b30fbab.541308","name":"","url":"/step","method":"get","swaggerDoc":"","x":243,"y":350,"wires":[["9bf4d47f.059308"]]},{"id":"417b0a58.542f64","type":"http response","z":"9b30fbab.541308","name":"","x":1018,"y":365,"wires":[]},{"id":"ab231c8e.9b89d","type":"http in","z":"9b30fbab.541308","name":"","url":"/ftp","method":"get","swaggerDoc":"","x":233.00000953674316,"y":465.99999809265137,"wires":[["27c5d378.84091c"]]},{"id":"27c5d378.84091c","type":"http request","z":"9b30fbab.541308","name":"","method":"GET","ret":"bin","url":"http://ftk.federp.federtechnik.ch/angebot/","tls":"","x":658,"y":465,"wires":[["417b0a58.542f64"]]},{"id":"512af520.07d5ac","type":"change","z":"9b30fbab.541308","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/pdf","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":613,"y":270,"wires":[["417b0a58.542f64"]]},{"id":"dd244361.104a5","type":"change","z":"9b30fbab.541308","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/pdf","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":858,"y":465,"wires":[["417b0a58.542f64"]]},{"id":"8d01f9fb.ed6e38","type":"change","z":"9b30fbab.541308","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/octet-stream","tot":"str"},{"t":"set","p":"headers.content-disposition","pt":"msg","to":"attachment; filename=\"step.stp\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":593,"y":370,"wires":[["417b0a58.542f64"]]},{"id":"c032e9e3.978228","type":"inject","z":"9b30fbab.541308","name":"PING NX Server","topic":"","payload":"PING 192.168.11.31","payloadType":"str","repeat":"","crontab":"","once":false,"x":220,"y":620,"wires":[["28cdcc25.d54824"]]},{"id":"28cdcc25.d54824","type":"exec","z":"9b30fbab.541308","command":"ls -la","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":390,"y":620,"wires":[["75e21a12.867024"],["e4c9f2d1.0d292"],["5e024028.98456"]]},{"id":"75e21a12.867024","type":"debug","z":"9b30fbab.541308","name":"","active":true,"console":"false","complete":"false","x":850,"y":580,"wires":[]},{"id":"e4c9f2d1.0d292","type":"debug","z":"9b30fbab.541308","name":"","active":true,"console":"false","complete":"false","x":830,"y":620,"wires":[]},{"id":"5e024028.98456","type":"debug","z":"9b30fbab.541308","name":"","active":true,"console":"false","complete":"false","x":810,"y":660,"wires":[]},{"id":"6b622a29.87f844","type":"inject","z":"9b30fbab.541308","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":294.0000057220459,"y":116.00000381469727,"wires":[["61c3a9a4.de6d48"]]},{"id":"61c3a9a4.de6d48","type":"http request","z":"9b30fbab.541308","name":"","method":"GET","ret":"txt","url":"http://dku.ftk.federp.federtechnik.ch/angebot/pdf-angebot/421649/?web=true","tls":"","x":569.0000343322754,"y":116.00000190734863,"wires":[["224727a2.88cac8"]]},{"id":"224727a2.88cac8","type":"debug","z":"9b30fbab.541308","name":"","active":true,"console":"false","complete":"false","x":870,"y":120,"wires":[]},{"id":"99dfa1d4.c3d7f","type":"comment","z":"27bf3234.d9598e","name":"ToDo: Bestellung eingengangen Feedback","info":"","x":579.0000305175781,"y":1263,"wires":[]},{"id":"23943959.d3adf6","type":"comment","z":"27bf3234.d9598e","name":"= Get Documents =","info":"","x":590,"y":420,"wires":[]},{"id":"25065d58.7d2f22","type":"link out","z":"27bf3234.d9598e","name":"","links":["4994e471.eb37ec"],"x":515,"y":460,"wires":[]},{"id":"4994e471.eb37ec","type":"link in","z":"c0b2d8d2.379fe8","name":"Get Documents","links":["25065d58.7d2f22"],"x":175,"y":120,"wires":[["70b28402.c1ab9c","90713dfd.b23e3"]]},{"id":"b88ed99b.6bd588","type":"http request","z":"c0b2d8d2.379fe8","name":"","method":"GET","ret":"bin","url":"","tls":"","x":610,"y":120,"wires":[["11589b53.191345"]]},{"id":"70b28402.c1ab9c","type":"function","z":"c0b2d8d2.379fe8","name":"Set Request URL","func":"var baseURL = global.get(\"docserver\");\nvar typeURL = \"\";\nvar itemURL = msg.payload.params.id;\n\nvar type = msg.payload.params.type;\nif (type == \"ab\") {\n    typeURL = \"auftrag/pdf-ab/\" + itemURL + \"/\";\n}\nif (type == \"rechnung\") {\n    typeURL = \"lieferung/pdf-rechnung/\" + itemURL + \"/\";\n}\nif (type == \"angebot\") {\n    typeURL = \"angebot/pdf-angebot/\" + itemURL + \"/\";\n}\nif (type == \"datenblatt\") {\n    typeURL = \"auftrag-nf/pdf-datenblatt/?bez=\" + itemURL;\n}\n\nmsg.url = baseURL + \"/\" + typeURL;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["b88ed99b.6bd588","4cd4a9a4.d56928"]]},{"id":"11589b53.191345","type":"http response","z":"c0b2d8d2.379fe8","name":"","x":790,"y":120,"wires":[]},{"id":"118e0ce4.fac133","type":"inject","z":"c0b2d8d2.379fe8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":80,"wires":[["70b28402.c1ab9c"]]},{"id":"4cd4a9a4.d56928","type":"debug","z":"c0b2d8d2.379fe8","name":"","active":true,"console":"false","complete":"url","x":600,"y":180,"wires":[]},{"id":"3996480a.3d2168","type":"function","z":"27bf3234.d9598e","name":"","func":"var tmp = msg.payload.id;\n\n\nmsg.payload = {\n    \"id\": tmp,\n    \"jsonrpc\": \"2.0\",\n    \"result\": {\n        \"message\" : \"Ihre Anfrage wird bearbeitet.\",\n        \"errorMsg\": \"\",\n        \"success\": true\n    },\n    \"success\": true\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1060,"wires":[["ce4b4143.4b85a","d899f022.e4ca9","3b4b0522.b17f1a"]]},{"id":"ce4b4143.4b85a","type":"debug","z":"27bf3234.d9598e","name":"console","active":true,"console":"false","complete":"payload","x":820,"y":960,"wires":[]},{"id":"1464c50f.9af76b","type":"function","z":"27bf3234.d9598e","name":"","func":"var tmp = msg.payload.id;\n\n\nmsg.payload = {\n    \"id\": tmp,\n    \"jsonrpc\": \"2.0\",\n    \"result\": {\n        \"message\" : \"Die Bestellung wurde entgegengenommen.\",\n        \"errorMsg\": \"\",\n        \"success\": true\n    },\n    \"success\": true\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1300,"wires":[["9d750467.1f87e8"]]},{"id":"9fbc94.d3ef037","type":"debug","z":"27bf3234.d9598e","name":"","active":true,"console":"false","complete":"false","x":470,"y":1140,"wires":[]},{"id":"891e9ccf.eb085","type":"function","z":"27bf3234.d9598e","name":"","func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1120,"wires":[["9fbc94.d3ef037"]]},{"id":"1d14c123.91d92f","type":"inject","z":"27bf3234.d9598e","name":"startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":480,"y":60,"wires":[["6abce3a8.f1aedc"]]},{"id":"6abce3a8.f1aedc","type":"function","z":"27bf3234.d9598e","name":"set \"global\" Variables like URLs","func":"var nxserver = \"http://192.168.11.31\";\nvar documents = \"http://ftk.federp.federtechnik.ch\";\nvar erp = \"http://127.0.0.1\";\nvar web = \"http://13.94.206.170\";\n\n\nglobal.set(\"nxserver\",nxserver);\nglobal.set(\"docserver\",documents);\nvar nx_nr = global.get(\"nxserver\") + \":1880\";\nglobal.set(\"nxserver_nodered\",nx_nr); \n// global.set(\"erpserver\",erp);\nglobal.set(\"webserver\",web);\n\nnode.warn(\"NX NodeRed IP: \" + global.get(\"nxserver_nodered\"));\nnode.warn(\"FTP / Doc Server: \" + global.get(\"docserver\"));\nnode.warn(\"Webserver: \" + global.get(\"webserver\"));","outputs":1,"noerr":0,"x":750,"y":60,"wires":[[]]},{"id":"90713dfd.b23e3","type":"debug","z":"c0b2d8d2.379fe8","name":"","active":true,"console":"false","complete":"false","x":335,"y":175,"wires":[]},{"id":"c273884c.39c4c8","type":"comment","z":"c3e2d87.f72a228","name":"=== orderState ===","info":"","x":111.66666412353516,"y":403.33331298828125,"wires":[]},{"id":"335365ff.f7109a","type":"http in","z":"c3e2d87.f72a228","name":"","url":"/offerState","method":"post","swaggerDoc":"","x":128.66666412353516,"y":292.33331298828125,"wires":[["8b349e4f.79569","afc03150.fa573"]]},{"id":"8b349e4f.79569","type":"function","z":"c3e2d87.f72a228","name":"Mapping","func":"\n// falls nötig Variablen mappen\n\n// map updates from ERP to params:\nvar tmp = msg.payload;\nmsg.payload = {\n  \"jsonrpc\":\"2.0\",\n  \"method\":\"springState\",\n  \"params\":{\n\t\"spring\" : tmp.params.spring\n  },\n  \"id\" : \"1\"\n};\n\n// Case 10c\nif (tmp.action == \"response_offer\") {\n    msg.payload.params.spring.status = \"30\";\n}\n// Case 10b\nelse if (tmp.action == \"automatic_offer\") {\n    msg.payload.params.spring.status = \"40\";\n}\nelse {\n    msg.payload.params.status = \"-1\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":477.66666412353516,"y":296.33331298828125,"wires":[["a78d9e9f.d3306"]]},{"id":"57d02eb.86058d","type":"http request","z":"c3e2d87.f72a228","name":"","method":"use","ret":"obj","url":"","tls":"","x":909.6666641235352,"y":408.33331298828125,"wires":[["6b558e90.48449","885bd07e.95cd4"]]},{"id":"8d704827.eb6848","type":"inject","z":"c3e2d87.f72a228","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106.66666412353516,"y":188.33331298828125,"wires":[["151bdb46.710f15"]]},{"id":"d21c45b2.acf578","type":"debug","z":"c3e2d87.f72a228","name":"","active":false,"console":"false","complete":"false","x":1323.6666641235352,"y":413.33331298828125,"wires":[]},{"id":"78f8ee8f.15a5f","type":"http response","z":"c3e2d87.f72a228","name":"","x":1303.6666641235352,"y":453.33331298828125,"wires":[]},{"id":"6b558e90.48449","type":"function","z":"c3e2d87.f72a228","name":"Response to ERP","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1096.6666641235352,"y":450.33331298828125,"wires":[["78f8ee8f.15a5f","d21c45b2.acf578"]]},{"id":"e4187466.6ce0b8","type":"comment","z":"c3e2d87.f72a228","name":"=== offerState ===","info":"{\n  \"action\": \"automatic_offer\",\n  \"webUser\": {\n    \"id\": \"654321\"\n  },\n  \"spring\": {\n    \"ArtNr\": \"WDF100018.01\",\n    \"status\": \"5\",\n    \"gueltigkeit_monat\": \"21-07-2055\",\n    \"angebotsFilename\": \"54321.pdf\",\n    \"lieferzeit\": \"1-2 Arbeitswochen\",\n    \"preise\": [\n        { \n          \"menge\": \"20000\",\n          \"staffelpreis\": \"1.8\"\n        },\n        {\n          \"menge\": \"40000\",\n          \"staffelpreis\": \"1.3\"\n        }\n    ],\n    \"customerArticleNumber\": \"testbyberni\",\n    \"name\": \"Druckfeder\"\n  }\n}","x":109.66666412353516,"y":148.33331298828125,"wires":[]},{"id":"151bdb46.710f15","type":"function","z":"c3e2d87.f72a228","name":"sample","func":"msg.payload = {\n  \"jsonrpc\": \"2.0\",\n  \"method\" : \"orderState\",\n  \"params\" : {\n      \"action\": \"automatic_offer\",\n      \"spring\": {\n        \"ArtNr\": \"WDF100004.01\",\n        \"status\": \"40\", //30: Manuelle Offerte 40: Gueltige Offerte\n        //\"gueltigkeit_monat\": \"21-07-2055\",\n        //\"angebotsFilename\": \"54321.pdf\",\n        //\"deliveryTime\": \"1-2 Wochen\",\n        \"preis_1\" : \"4.28\",\n        \"preis_2\" : \"25.25\",\n        //\"preis_3\" : \"0.23\",\n        //\"preis_4\" : \"0.21\",\n        \"menge_1\" : \"150\",\n        \"menge_2\" : \"200\",\n        //\"menge_3\" : \"250\",\n        //\"menge_4\" : \"300\"\n        //\"customerArticleNumber\": \"testbyberni\",\n        //\"name\": \"Druckfeder\"\n      }\n    },\n    \"id\" : \"1\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":256.66666412353516,"y":189.33331298828125,"wires":[["8b349e4f.79569"]]},{"id":"bd7a0a99.ef5368","type":"file","z":"c3e2d87.f72a228","name":"","filename":"/media/storage/nodered-offer-log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":997.6666641235352,"y":554.3333129882812,"wires":[]},{"id":"9b0a301e.3524f","type":"file in","z":"c3e2d87.f72a228","name":"","filename":"/media/storage/nodered-offer-log.txt","format":"utf8","x":569.6666641235352,"y":968.3333129882812,"wires":[["dd01a130.2f783"]]},{"id":"7223c0f3.e5339","type":"inject","z":"c3e2d87.f72a228","name":"log to debug","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":309.66666412353516,"y":968.3333129882812,"wires":[["9b0a301e.3524f"]]},{"id":"dd01a130.2f783","type":"debug","z":"c3e2d87.f72a228","name":"","active":true,"console":"false","complete":"payload","x":829.6666641235352,"y":968.3333129882812,"wires":[]},{"id":"23cefc95.9b1594","type":"http in","z":"c3e2d87.f72a228","name":"","url":"/orderState","method":"post","swaggerDoc":"","x":139.66666412353516,"y":548.3333129882812,"wires":[["d302ab29.ae6878","2c0c9ac7.7a7fc6"]]},{"id":"d302ab29.ae6878","type":"function","z":"c3e2d87.f72a228","name":"Mapping","func":"/*\n    const INBASKET = 50;\n    const INPRODUCTION = 60;\n    const READY = 70;\n    const DELIVERED = 80;\n*/\n\n/*var tmp = msg.payload;\nmsg.payload = {\n  \"jsonrpc\":\"2.0\",\n  \"method\":\"springState\",\n  \"params\":{\n\t\"spring\" : tmp.spring\n  },\n  \"id\" : \"1\"\n};\n\n// map spring attributes if needed\n\nif (tmp.action == \"user_registered\") {\n    msg.payload.params.spring.status = \"30\";\n}\nelse if (tmp.action == \"automatic_offer\") {\n    msg.payload.params.spring.status = \"40\";\n}\nelse {\n    msg.payload.params.status = \"-1\";\n}*/\n\nreturn msg;","outputs":1,"noerr":0,"x":466.66666412353516,"y":494.33331298828125,"wires":[["a78d9e9f.d3306"]]},{"id":"64844b3.1799eb4","type":"inject","z":"c3e2d87.f72a228","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":105.66666412353516,"y":464.33331298828125,"wires":[["33aa81f.280467e"]]},{"id":"33aa81f.280467e","type":"function","z":"c3e2d87.f72a228","name":"sample","func":"msg.payload = {\n  \"jsonrpc\": \"2.0\",\n  \"method\" : \"orderState\",\n  \"params\" : {\n      \"webUser\": {\n        \"id\": \"654321\"\n      },\n      \"action\": \"update_position\",\n      \"basket\": {\n        \"basketNr\": \"400000\",\n        \"trackingNr\": \"DHL193822\",\n        \"eRechnungNummer\": \"169589\", // Wenn nicht bekannt: \"\" \n        \"positionen\": [\n            {\n                \"ArtNr\": \"WDF100004.01\",\n                \"status\": \"70\" // 60 = In Produktion, 70 = Gerüstet, 80 = Geliefert\n            }\n        ]\n      },\n    },\n  \"id\" : \"023456789\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":283.66666412353516,"y":465.33331298828125,"wires":[["d302ab29.ae6878"]]},{"id":"d8f3863f.5a2168","type":"file in","z":"c3e2d87.f72a228","name":"","filename":"/media/storage/nodered-order-log.txt","format":"utf8","x":569.6666641235352,"y":1008.3333129882812,"wires":[["8b923970.b61a78"]]},{"id":"1b89b889.c90ce7","type":"inject","z":"c3e2d87.f72a228","name":"log to debug","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":309.66666412353516,"y":1008.3333129882812,"wires":[["d8f3863f.5a2168"]]},{"id":"8b923970.b61a78","type":"debug","z":"c3e2d87.f72a228","name":"","active":true,"console":"false","complete":"false","x":829.6666641235352,"y":1008.3333129882812,"wires":[]},{"id":"c314052b.f6e368","type":"comment","z":"c3e2d87.f72a228","name":"=== userState ===","info":"","x":109.66666412353516,"y":708.3333129882812,"wires":[]},{"id":"a9410714.352838","type":"http in","z":"c3e2d87.f72a228","name":"","url":"/userState","method":"post","swaggerDoc":"","x":139.66666412353516,"y":788.3333129882812,"wires":[["46355d39.f7cfd4","d3495a16.946758"]]},{"id":"46355d39.f7cfd4","type":"function","z":"c3e2d87.f72a228","name":"Mapping","func":"\n// falls nötig Variablen mappen\n\n// map updates from ERP to params:\nvar tmp = msg.payload;\nmsg.payload = {};\nmsg.payload.params = tmp;\n\nmsg.payload.jsonrpc = \"2.0\";\nmsg.payload.method = \"orderState\";\nmsg.payload.id = \"1234567\";\n\nreturn msg;","outputs":1,"noerr":0,"x":339.66666412353516,"y":788.3333129882812,"wires":[["a78d9e9f.d3306"]]},{"id":"f8fb63af.8cf92","type":"inject","z":"c3e2d87.f72a228","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":169.66666412353516,"y":748.3333129882812,"wires":[["4e299ebd.07d47"]]},{"id":"4e299ebd.07d47","type":"function","z":"c3e2d87.f72a228","name":"sample","func":"msg.payload = {\n  \"jsonrpc\": \"2.0\",\n  \"method\" : \"orderState\",\n  \"params\" : {\n    \"ID\": \"123\",\n    \"Position\": \"2\",\n    \"status\": \"gerüstet\"\n  },\n  \"id\" : \"023456789\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":339.66666412353516,"y":748.3333129882812,"wires":[["a78d9e9f.d3306"]]},{"id":"afc03150.fa573","type":"debug","z":"c3e2d87.f72a228","name":"","active":false,"console":"false","complete":"false","x":489.66666412353516,"y":335.33331298828125,"wires":[]},{"id":"885bd07e.95cd4","type":"debug","z":"c3e2d87.f72a228","name":"","active":true,"console":"false","complete":"false","x":1096.6666641235352,"y":367.33331298828125,"wires":[]},{"id":"a78d9e9f.d3306","type":"function","z":"c3e2d87.f72a228","name":"url mapping","func":"msg.method = \"POST\";\nvar weburl = global.get(\"webserver\");\nmsg.url = weburl + \"/services/FTK_Recieve_ERP_Request\";\n\nreturn msg;","outputs":1,"noerr":0,"x":710.4444351196289,"y":455.9999771118164,"wires":[["57d02eb.86058d","6c60c582.5ad45c","bd7a0a99.ef5368"]]},{"id":"6c60c582.5ad45c","type":"debug","z":"c3e2d87.f72a228","name":"","active":false,"console":"false","complete":"url","x":910.6666641235352,"y":509.33331298828125,"wires":[]},{"id":"2c0c9ac7.7a7fc6","type":"debug","z":"c3e2d87.f72a228","name":"","active":true,"console":"false","complete":"false","x":425.66666412353516,"y":544.3333129882812,"wires":[]},{"id":"d3495a16.946758","type":"debug","z":"c3e2d87.f72a228","name":"","active":true,"console":"false","complete":"false","x":349.66666412353516,"y":828.3333129882812,"wires":[]},{"id":"a2cdd00e.04836","type":"file in","z":"c3e2d87.f72a228","name":"","filename":"/media/storage/nodered-user-log.txt","format":"utf8","x":569.6666641235352,"y":1048.3333129882812,"wires":[["c1d834a9.aec668"]]},{"id":"8df988f.b10ac78","type":"inject","z":"c3e2d87.f72a228","name":"log to debug","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":309.66666412353516,"y":1048.3333129882812,"wires":[["a2cdd00e.04836"]]},{"id":"c1d834a9.aec668","type":"debug","z":"c3e2d87.f72a228","name":"","active":true,"console":"false","complete":"false","x":829.6666641235352,"y":1048.3333129882812,"wires":[]},{"id":"e243c0b4.de6b","type":"comment","z":"27bf3234.d9598e","name":"ToDo: status \"bestellt\" zurückschiessen","info":"","x":595,"y":1415,"wires":[]},{"id":"c8b6cdae.b9aeb","type":"http request","z":"27bf3234.d9598e","name":"WEB","method":"use","ret":"obj","url":"","tls":"","x":750,"y":1180,"wires":[[]]},{"id":"32dc7e8d.398572","type":"function","z":"27bf3234.d9598e","name":"url mapping","func":"msg.method = \"POST\";\nvar weburl = global.get(\"webserver\");\nmsg.url = weburl + \"/services/FTK_Recieve_ERP_Request\";\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1180,"wires":[["c8b6cdae.b9aeb"]]},{"id":"3b4b0522.b17f1a","type":"function","z":"27bf3234.d9598e","name":"","func":"msg.payload = {\n  \"jsonrpc\": \"2.0\",\n  \"method\" : \"orderState\",\n  \"params\" : {\n      \"action\": \"update_position\",\n      \"basket\": {\n        \"basketNr\": \"400004\",\n        \"trackingNr\": \"DHL193822\",\n        \"eRechnungNummer\": \"169589\", // Wenn nicht bekannt: \"\" \n        \"positionen\": [\n            {\n                \"ArtNr\": \"100006\",\n                \"status\": \"55\"\n            }\n        ]\n      },\n    },\n  \"id\" : \"023456789\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1180,"wires":[["32dc7e8d.398572"]]},{"id":"a211eaa7.df0778","type":"inject","z":"27bf3234.d9598e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":240,"y":1200,"wires":[["3b4b0522.b17f1a"]]},{"id":"575b261c.d14cc8","type":"http request","z":"27bf3234.d9598e","name":"ERP","method":"POST","ret":"txt","url":"http://dku.ftk.federp.federtechnik.ch/webshop/createSupport/","tls":"","x":1150.000015258789,"y":775.999981880188,"wires":[["89abbe73.faf85"]]},{"id":"ab02ec38.48ff8","type":"debug","z":"27bf3234.d9598e","name":"console","active":true,"console":"false","complete":"payload","x":1160.000015258789,"y":855.999981880188,"wires":[]},{"id":"edb6d97.7a39b28","type":"comment","z":"27bf3234.d9598e","name":"ERP Dummy","info":"","x":1150.000015258789,"y":735.999981880188,"wires":[]},{"id":"89abbe73.faf85","type":"json","z":"27bf3234.d9598e","name":"","x":1150.000015258789,"y":815.999981880188,"wires":[["ab02ec38.48ff8"]]},{"id":"68c53b2c.8e36e4","type":"inject","z":"9b30fbab.541308","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":260,"y":180,"wires":[["5647d193.1b9a5"]]},{"id":"5647d193.1b9a5","type":"http request","z":"9b30fbab.541308","name":"","method":"GET","ret":"txt","url":"http://www.myip.ch","tls":"","x":440,"y":180,"wires":[["224727a2.88cac8"]]},{"id":"a1cd6eda.37654","type":"comment","z":"879f06a0.3df118","name":"Convert SOAP Answer from Aras","info":"","x":288,"y":169,"wires":[]},{"id":"3f105000.e3b16","type":"xml","z":"879f06a0.3df118","name":"xml2json","attr":"","chr":"","x":360,"y":240,"wires":[["9c4112c4.eb7f1"]]},{"id":"b99e3ac4.0fc7e8","type":"file","z":"879f06a0.3df118","name":"soap2json.json","filename":"soap2json.json","appendNewline":false,"createDir":false,"overwriteFile":"true","x":920,"y":240,"wires":[]},{"id":"9c4112c4.eb7f1","type":"function","z":"879f06a0.3df118","name":"Resultsfilter","func":"if (!msg.payload[\"SOAP-ENV:Envelope\"][\"SOAP-ENV:Body\"].Result) {\n    if (msg.payload[\"SOAP-ENV:Envelope\"][\"SOAP-ENV:Body\"][\"SOAP-ENV:Fault\"].faultstring) {\n        msg.payload = \"test\";\n        // msg.payload = msg.payload[\"SOAP-ENV:Envelope\"][\"SOAP-ENV:Body\"][\"SOAP-ENV:Fault\"].faultstring;\n        // msg.payload = tmp.substring(8,30);\n        // [\"detail\"][\"af:legacy_faultstring\"]\n    }\n    node.error(\"no Result\", msg);\n}\nelse if (!msg.payload[\"SOAP-ENV:Envelope\"][\"SOAP-ENV:Body\"].Result.Item) {\n    node.error(\"no Result Item\", msg);\n}\nelse {\n    msg.payload = msg.payload[\"SOAP-ENV:Envelope\"][\"SOAP-ENV:Body\"].Result.Item;\n    \n    delete msg.url;\n    delete msg.method;\n    delete msg.options;\n    delete msg.headers;\n    \n    return msg;\n}\n","outputs":1,"noerr":0,"x":472,"y":309,"wires":[["8866869c.f58728"]]},{"id":"55f9631e.6391ac","type":"function","z":"879f06a0.3df118","name":"ParserSettings","func":"msg.options = {\n    explicitArray : false\n}\nreturn msg;","outputs":1,"noerr":0,"x":267,"y":311,"wires":[["3f105000.e3b16"]]},{"id":"8866869c.f58728","type":"function","z":"879f06a0.3df118","name":"log","func":"//node.warn(\"soap2json durchgelaufen\\nResultate: \" + msg.payload.length);\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":240,"wires":[["e6523aa4.9604c8","975d26e7.624028"]]},{"id":"e6523aa4.9604c8","type":"function","z":"879f06a0.3df118","name":"prettyfy","func":"for(var i=0; i < msg.payload.length; i++) {\n\tdelete msg.payload[i].$;\n\tdelete msg.payload[i].config_id;\n\tdelete msg.payload[i].created_by_id;\n\tdelete msg.payload[i].created_on;\n\tdelete msg.payload[i].current_state;\n\tdelete msg.payload[i].external_type;\n\tdelete msg.payload[i].effective_date;\n\tdelete msg.payload[i].generation;\n\tdelete msg.payload[i].is_released;\n\tdelete msg.payload[i].is_current;\n\tdelete msg.payload[i].modified_by_id;\n\tdelete msg.payload[i].modified_on;\n\tdelete msg.payload[i].permission_id;\n\tdelete msg.payload[i].not_lockable;\n\tdelete msg.payload[i].new_version;\n\tdelete msg.payload[i].release_date;\n\tdelete msg.payload[i].fascease;\n}\n\nmsg.payload = JSON.stringify(msg.payload,null, '\\t');\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":300,"wires":[["8d6c0c99.2570a"]]},{"id":"8d6c0c99.2570a","type":"file","z":"879f06a0.3df118","name":"soap2json_pretty.json","filename":"soap2json_pretty.json","appendNewline":false,"createDir":false,"overwriteFile":"true","x":920,"y":300,"wires":[]},{"id":"975d26e7.624028","type":"function","z":"879f06a0.3df118","name":"Json stringify","func":"msg.payload = JSON.stringify(msg.payload,null, '\\t');\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":240,"wires":[["b99e3ac4.0fc7e8"]]},{"id":"193e5c6d.432224","type":"function","z":"818c3411.faf3b8","name":"Login Headers","func":"var araspw = global.get(\"araspw\");\nvar arasurl = global.get(\"arasurl\");\nvar arasdb = global.get(\"arasdb\");\n\nmsg.headers = {\n    \"Database\" : arasdb,\n    \"SOAPaction\" : \"ApplyAML\",\n    \"Authorization\" : \"Basic YWRtaW46aW5ub3ZhdG9y\",\n    \"authuser\" : \"root\",\n    \"authpassword\" : araspw\n};\n\nmsg.url = arasurl;\nmsg.method = \"Post\";\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["e52cbbc5.d83068"]]},{"id":"e52cbbc5.d83068","type":"template","z":"818c3411.faf3b8","name":"AML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<AML>\n  <Item action=\"get\" type=\"Part\" where=\"[Part].digitaltwin=1\" select=\"item_number\"></Item>\n</AML>","output":"str","x":490,"y":180,"wires":[["d31c40ae.06a37"]]},{"id":"5efb497.a41c4b8","type":"inject","z":"818c3411.faf3b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":180,"wires":[["193e5c6d.432224"]]},{"id":"d31c40ae.06a37","type":"http request","z":"818c3411.faf3b8","name":"Aras","method":"use","ret":"txt","url":"","tls":"","x":630,"y":180,"wires":[["3737c1b3.bf3d4e"]]},{"id":"3737c1b3.bf3d4e","type":"subflow:879f06a0.3df118","z":"818c3411.faf3b8","name":"","x":800,"y":180,"wires":[["53f8e3df.53207c"],[]]},{"id":"53f8e3df.53207c","type":"function","z":"818c3411.faf3b8","name":"","func":"msg.artikelliste = msg.payload;\n// msg.payload = msg.artikelliste[0].item_number;\n\nvar temp;\n\nfor (var i=0; i < msg.artikelliste.length; i++) {\n    temp = msg.artikelliste[i].item_number;\n    msg.artikelliste[i] = temp;\n}\n\nmsg.payload = msg.artikelliste;\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":180,"wires":[["f93f99ad.33a9e8"]]},{"id":"f93f99ad.33a9e8","type":"file in","z":"818c3411.faf3b8","name":"","filename":"C:\\temp\\dt.xlsx","format":"","chunk":false,"sendError":false,"x":320,"y":260,"wires":[["3718b3d.58c0d4c"]]},{"id":"3718b3d.58c0d4c","type":"function","z":"818c3411.faf3b8","name":"","func":"var xlsx = global.get('xlsx');\n\nvar workSheetsFromBuffer = xlsx.parse(msg.payload);\nvar arr = workSheetsFromBuffer[1].data;\n\nmsg.payload = arr;\nnode.error(arr.length);\nvar j = 0;\n/*\nfor (var i=1; i<8; i++) {\n    node.warn(\"for loop: \" + i);\n    // find arr[i][2] in msg.artikelliste if ok i++ else delete arr[i][2] und i-- \n    if (msg.artikelliste.indexOf(arr[i][2]) == -1) {\n        arr.splice(i,1);\n        i--;\n        j++;\n        node.warn(\"splice \" + j);\n    }\n}\n*/\n\nvar i = 1;\nwhile (arr[i] !== undefined) {\n    if (msg.artikelliste.indexOf(arr[i][2]) == -1) {\n        arr.splice(i,1);\n        i--;\n        j++;\n        node.warn(\"splice \" + j);\n    }\n    i++;\n}\n\n/*\nfruits.splice(0, 1);\nvar fruits = [\"Banana\", \"Orange\", \"Apple\", \"Mango\"];\nvar a = fruits.indexOf(\"Apple\");\n*/\n    \n    // msg.artikelliste = alle Artikel mit DT Flag\n    // arr[i][2] = alle Artikelnummern aus 100% BOM\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":260,"wires":[["90cb9e0a.1bf86","bd46e2db.d1a55"]]},{"id":"85102f02.6e2ee","type":"inject","z":"818c3411.faf3b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":260,"wires":[["f93f99ad.33a9e8"]]},{"id":"90cb9e0a.1bf86","type":"debug","z":"818c3411.faf3b8","name":"","active":true,"console":"false","complete":"false","x":890,"y":260,"wires":[]},{"id":"bd46e2db.d1a55","type":"json","z":"818c3411.faf3b8","name":"","pretty":true,"x":610,"y":320,"wires":[["e6d0b283.642df"]]},{"id":"e6d0b283.642df","type":"file","z":"818c3411.faf3b8","name":"","filename":"C:\\temp\\dtjson.json","appendNewline":true,"createDir":false,"overwriteFile":"false","x":770,"y":320,"wires":[]},{"id":"a6d70aae.f0c6d8","type":"comment","z":"818c3411.faf3b8","name":"1 - Server + DB + Admin PW definieren","info":"","x":230,"y":360,"wires":[]},{"id":"aa95a6d2.cb6e08","type":"inject","z":"818c3411.faf3b8","name":"tab / server config","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":170,"y":420,"wires":[["6e56db2d.7a7b94"]]},{"id":"6e56db2d.7a7b94","type":"function","z":"818c3411.faf3b8","name":"Login","func":"\nglobal.set(\"araspw\",\"607920b64fe136f9ab2389e371852af2\");\nglobal.set(\"arasurl\",\"http://dt-ma-118930.hsr.ch/ArasPLM/Server/InnovatorServer.aspx\");\nglobal.set(\"arasdb\",\"Lifecycle_Lab\");\n\n\nnode.warn(\"Aras DB set: \" + global.get(\"arasdb\"));","outputs":1,"noerr":0,"x":370,"y":420,"wires":[[]]},{"id":"43617301.dd96fc","type":"comment","z":"86d8d09a.78079","name":"=== Fake Input =========================","info":"","x":200,"y":60,"wires":[]},{"id":"99b2a87b.4d0868","type":"inject","z":"86d8d09a.78079","name":"tackt","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":630,"y":100,"wires":[["360bf1c2.1b35ae"]]},{"id":"360bf1c2.1b35ae","type":"function","z":"86d8d09a.78079","name":"RNG P1","func":"var base = global.get(\"p1\");\nvar rnd = (Math.random()*2-1)/10;\nvar value = base+rnd;\nmsg.payload = Math.round(value*1000)/1000;\nmsg.sensor = \"p1\";\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":100,"wires":[["2c43e85c.460608","ae0e1631.bd4ee8"]]},{"id":"d38e1095.9df2c","type":"comment","z":"86d8d09a.78079","name":"1. Drucksensor / dummy","info":"","x":650,"y":60,"wires":[]},{"id":"96075810.b540d8","type":"inject","z":"86d8d09a.78079","name":"tackt","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":630,"y":180,"wires":[["128ad4bb.38539b"]]},{"id":"ef752747.72ad08","type":"comment","z":"86d8d09a.78079","name":"2. Drucksensor / dummy","info":"","x":650,"y":140,"wires":[]},{"id":"84fc47f3.85c628","type":"ui_gauge","z":"86d8d09a.78079","name":"","group":"f36979c.94fda88","order":2,"width":0,"height":0,"gtype":"gage","title":"p2","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":180,"wires":[]},{"id":"5c8afa7b.acf214","type":"ui_numeric","z":"86d8d09a.78079","name":"p1 input","label":"p1 input","group":"66d79992.00ce38","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1","step":"0.1","x":240,"y":100,"wires":[["55ea0732.c1d2b8"]]},{"id":"55ea0732.c1d2b8","type":"function","z":"86d8d09a.78079","name":"set p1","func":"global.set(\"p1\",msg.payload);","outputs":1,"noerr":0,"x":390,"y":100,"wires":[[]]},{"id":"2c43e85c.460608","type":"ui_gauge","z":"86d8d09a.78079","name":"","group":"f36979c.94fda88","order":1,"width":0,"height":0,"gtype":"gage","title":"p1","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":100,"wires":[]},{"id":"d867ea03.a27758","type":"ui_numeric","z":"86d8d09a.78079","name":"p2 input","label":"p2 input","group":"66d79992.00ce38","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1","step":"0.1","x":240,"y":140,"wires":[["a6e8f9ee.3720e8"]]},{"id":"a6e8f9ee.3720e8","type":"function","z":"86d8d09a.78079","name":"set p2","func":"global.set(\"p2\",msg.payload);","outputs":1,"noerr":0,"x":390,"y":140,"wires":[[]]},{"id":"884a9d25.b58fa","type":"ui_numeric","z":"86d8d09a.78079","name":"p3 input","label":"p3 input","group":"66d79992.00ce38","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1","step":"0.1","x":240,"y":180,"wires":[["383a1f6d.60a6"]]},{"id":"383a1f6d.60a6","type":"function","z":"86d8d09a.78079","name":"set p3","func":"global.set(\"p3\",msg.payload);","outputs":1,"noerr":0,"x":390,"y":180,"wires":[[]]},{"id":"128ad4bb.38539b","type":"function","z":"86d8d09a.78079","name":"RNG P2","func":"var base = global.get(\"p2\");\nvar rnd = (Math.random()*2-1)/10;\nvar value = base+rnd;\nmsg.payload = Math.round(value*1000)/1000;\nmsg.sensor = \"p2\";\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":180,"wires":[["84fc47f3.85c628","ae0e1631.bd4ee8","66715a73.ec5604"]]},{"id":"b51d6a86.f67cd8","type":"inject","z":"86d8d09a.78079","name":"tackt","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":630,"y":260,"wires":[["660f8f68.4c064"]]},{"id":"660f8f68.4c064","type":"function","z":"86d8d09a.78079","name":"RNG P3","func":"var base = global.get(\"p3\");\nvar rnd = (Math.random()*2-1)/10;\nvar value = base+rnd;\nmsg.payload = Math.round(value*1000)/1000;\nmsg.sensor = \"p3\";\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":260,"wires":[["6f67de66.cb3b1","66715a73.ec5604"]]},{"id":"6f67de66.cb3b1","type":"ui_gauge","z":"86d8d09a.78079","name":"","group":"f36979c.94fda88","order":4,"width":0,"height":0,"gtype":"gage","title":"p3","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":260,"wires":[]},{"id":"529b9d6f.05d8b4","type":"comment","z":"86d8d09a.78079","name":"3. Drucksensor / dummy","info":"","x":650,"y":220,"wires":[]},{"id":"a247ed84.70e64","type":"inject","z":"86d8d09a.78079","name":"init 0.9","topic":"","payload":"0.9","payloadType":"num","repeat":"","crontab":"","once":true,"x":90,"y":100,"wires":[["5c8afa7b.acf214"]]},{"id":"877d878f.782718","type":"inject","z":"86d8d09a.78079","name":"init 0.5","topic":"","payload":"0.5","payloadType":"num","repeat":"","crontab":"","once":true,"x":90,"y":140,"wires":[["d867ea03.a27758"]]},{"id":"2e7c7791.e619a8","type":"inject","z":"86d8d09a.78079","name":"init 0.3","topic":"","payload":"0.3","payloadType":"num","repeat":"","crontab":"","once":true,"x":90,"y":180,"wires":[["884a9d25.b58fa"]]},{"id":"ae0e1631.bd4ee8","type":"function","z":"86d8d09a.78079","name":"diff p1/p2","func":"if (msg.sensor == \"p1\") {\n    var p1 = msg.payload;\n    context.set(\"p1\",p1);\n}\nif (msg.sensor == \"p2\") {\n    var p2 = msg.payload;\n    context.set(\"p2\",p2);\n}\n\nif (context.get(\"p1\") !== 0 && context.get(\"p2\") !== 0) {\n    delete msg.sensor;\n    var diff = Math.abs(context.get(\"p1\")-context.get(\"p2\"));\n    msg.payload = Math.round(diff*10000)/10000;\n    context.set(\"p1\",0);\n    context.set(\"p2\",0);\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":1000,"y":140,"wires":[["cf474497.8c4ca8","541778b7.361ca8"]]},{"id":"cf474497.8c4ca8","type":"ui_gauge","z":"86d8d09a.78079","name":"","group":"a61fd2ea.a4e1","order":6,"width":0,"height":0,"gtype":"gage","title":"diff p1 / p2","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1170,"y":140,"wires":[]},{"id":"66715a73.ec5604","type":"function","z":"86d8d09a.78079","name":"diff p2/p3","func":"if (msg.sensor == \"p2\") {\n    var p2 = msg.payload;\n    context.set(\"p23\",p2);\n}\nif (msg.sensor == \"p3\") {\n    var p3 = msg.payload;\n    context.set(\"p32\",p3);\n}\n\nif (context.get(\"p23\") !== 0 && context.get(\"p32\") !== 0) {\n    delete msg.sensor;\n    var diff = Math.abs(context.get(\"p23\")-context.get(\"p32\"));\n    msg.payload = Math.round(diff*10000)/10000;\n    context.set(\"p23\",0);\n    context.set(\"p32\",0);\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":1000,"y":220,"wires":[["e0122255.773f4","288fadf8.397322"]]},{"id":"e0122255.773f4","type":"ui_gauge","z":"86d8d09a.78079","name":"","group":"a61fd2ea.a4e1","order":6,"width":0,"height":0,"gtype":"gage","title":"diff p2 / p3","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1170,"y":220,"wires":[]},{"id":"4ad32360.aec17c","type":"file in","z":"86d8d09a.78079","name":"xls","filename":"C:\\Switchdrive\\160_DigitalTwin\\10_GUI\\LookUp2.xlsx","format":"","chunk":false,"sendError":false,"x":750,"y":360,"wires":[["46a5f55b.e5e64c"]]},{"id":"46a5f55b.e5e64c","type":"function","z":"86d8d09a.78079","name":"","func":"var xlsx = global.get('xlsx');\n\nvar workSheetsFromBuffer = xlsx.parse(msg.payload);\nvar arr = workSheetsFromBuffer[1].data[0];\nvar arr1 = workSheetsFromBuffer[1].data[1];\n\nvar goal = msg.ref;\n\nvar closest = arr.reduce(function(prev, curr) {\n  return (Math.abs(curr - goal) < Math.abs(prev - goal) ? curr : prev);\n});\n\nmsg.payload = arr1[arr.indexOf(closest)];\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":360,"wires":[["14bb142e.ea7bec","3bcc6497.66a99c"]]},{"id":"541778b7.361ca8","type":"function","z":"86d8d09a.78079","name":"","func":"msg.ref = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":360,"wires":[["4ad32360.aec17c"]]},{"id":"14bb142e.ea7bec","type":"ui_text","z":"86d8d09a.78079","group":"372dd637.d2fa9a","order":0,"width":0,"height":0,"name":"","label":"diff p1 / p2","format":"{{msg.ref}}: {{msg.payload}}","layout":"col-center","x":1050,"y":340,"wires":[]},{"id":"c68d162d.8bd0e8","type":"file in","z":"86d8d09a.78079","name":"xls","filename":"C:\\Switchdrive\\160_DigitalTwin\\10_GUI\\LookUp2.xlsx","format":"","chunk":false,"sendError":false,"x":750,"y":460,"wires":[["eb8d06bb.01dad8"]]},{"id":"eb8d06bb.01dad8","type":"function","z":"86d8d09a.78079","name":"","func":"var xlsx = global.get('xlsx');\n\nvar workSheetsFromBuffer = xlsx.parse(msg.payload);\nvar arr = workSheetsFromBuffer[1].data[0];\nvar arr1 = workSheetsFromBuffer[1].data[1];\n\nvar goal = msg.ref;\n\nvar closest = arr.reduce(function(prev, curr) {\n  return (Math.abs(curr - goal) < Math.abs(prev - goal) ? curr : prev);\n});\n\nmsg.payload = arr1[arr.indexOf(closest)];\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":460,"wires":[["b62d790a.5fbf78","97d391d3.78542"]]},{"id":"288fadf8.397322","type":"function","z":"86d8d09a.78079","name":"","func":"msg.ref = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":460,"wires":[["c68d162d.8bd0e8"]]},{"id":"b62d790a.5fbf78","type":"ui_text","z":"86d8d09a.78079","group":"372dd637.d2fa9a","order":0,"width":0,"height":0,"name":"","label":"diff p2 / p3","format":"{{msg.ref}}: {{msg.payload}}","layout":"col-center","x":1050,"y":460,"wires":[]},{"id":"b86b84aa.1605f8","type":"ui_toast","z":"86d8d09a.78079","position":"top right","displayTime":"5","highlight":"red","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1190,"y":380,"wires":[]},{"id":"3bcc6497.66a99c","type":"function","z":"86d8d09a.78079","name":"","func":"if (msg.ref >= 0.85) {\n    msg.payload = \"Achtung: kritischer Bereich!\\nDruckdifferenz aktuell: \" + msg.ref;\n\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1030,"y":380,"wires":[["b86b84aa.1605f8"]]},{"id":"97d391d3.78542","type":"function","z":"86d8d09a.78079","name":"","func":"if (msg.ref >= 0.85) {\n    msg.payload = \"Achtung: kritischer Bereich!\\nDruckdifferenz aktuell: \" + msg.ref;\n\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1030,"y":500,"wires":[["36e7bfc7.da597"]]},{"id":"36e7bfc7.da597","type":"ui_toast","z":"86d8d09a.78079","position":"top right","displayTime":"5","highlight":"red","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1190,"y":500,"wires":[]},{"id":"a69da9d0.6b6958","type":"inject","z":"86d8d09a.78079","name":"init 100","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":true,"x":100,"y":280,"wires":[["8da2a6f1.8529b8"]]},{"id":"8d5bc238.081c2","type":"function","z":"86d8d09a.78079","name":"set mp1","func":"global.set(\"mp1\",msg.payload);","outputs":1,"noerr":0,"x":420,"y":280,"wires":[[]]},{"id":"8da2a6f1.8529b8","type":"ui_text_input","z":"86d8d09a.78079","name":"Ø - main pipe","label":"Ø - main pipe [mm]","group":"884b5775.0c3d68","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":260,"y":280,"wires":[["8d5bc238.081c2"]]},{"id":"6661e173.e538e","type":"inject","z":"86d8d09a.78079","name":"init 9","topic":"","payload":"9","payloadType":"num","repeat":"","crontab":"","once":true,"x":90,"y":400,"wires":[["2fa6b23a.9dc25e"]]},{"id":"b61c18be.aab4e8","type":"function","z":"86d8d09a.78079","name":"set v1","func":"global.set(\"v1\",msg.payload);","outputs":1,"noerr":0,"x":410,"y":400,"wires":[[]]},{"id":"2fa6b23a.9dc25e","type":"ui_text_input","z":"86d8d09a.78079","name":"voltage","label":"voltage [V]","group":"884b5775.0c3d68","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":240,"y":400,"wires":[["b61c18be.aab4e8"]]},{"id":"11f42dcc.2b6bd2","type":"inject","z":"86d8d09a.78079","name":"init 25","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":true,"x":90,"y":360,"wires":[["27956b3d.5608b4"]]},{"id":"964c638c.6cb5","type":"function","z":"86d8d09a.78079","name":"set v1","func":"global.set(\"v1\",msg.payload);","outputs":1,"noerr":0,"x":410,"y":360,"wires":[[]]},{"id":"27956b3d.5608b4","type":"ui_text_input","z":"86d8d09a.78079","name":"side pipe valve ","label":"side pipe valve opening [%]","group":"884b5775.0c3d68","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":260,"y":360,"wires":[["964c638c.6cb5"]]},{"id":"7dc2bfcb.ede2b","type":"inject","z":"86d8d09a.78079","name":"init 100","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":true,"x":100,"y":320,"wires":[["cbb084eb.15e218"]]},{"id":"cbb084eb.15e218","type":"ui_text_input","z":"86d8d09a.78079","name":"Ø - side pipe","label":"Ø - side pipe [mm]","group":"884b5775.0c3d68","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":250,"y":320,"wires":[["9b8e3e95.24907"]]},{"id":"9b8e3e95.24907","type":"function","z":"86d8d09a.78079","name":"set sp1","func":"global.set(\"sp1\",msg.payload);","outputs":1,"noerr":0,"x":420,"y":320,"wires":[[]]},{"id":"5dbeeb58.5bde24","type":"websocket in","z":"b7da2b4c.163ff8","name":"","server":"3343c94f.c25ce6","client":"","x":120,"y":120,"wires":[["a37bdc8c.a13cb"]]},{"id":"2b0768c.9ab1c98","type":"debug","z":"b7da2b4c.163ff8","name":"","active":true,"console":"false","complete":"false","x":350,"y":120,"wires":[]},{"id":"3c948cd1.d66834","type":"ui_gauge","z":"b7da2b4c.163ff8","name":"","group":"ca392ea0.90a16","order":0,"width":0,"height":0,"gtype":"gage","title":"Druck Venturi","label":"Pa","format":"{{value}}","min":"-500","max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":240,"wires":[]},{"id":"231a8623.ec461a","type":"ui_gauge","z":"b7da2b4c.163ff8","name":"","group":"ca392ea0.90a16","order":0,"width":0,"height":0,"gtype":"gage","title":"Druck Ventilator","label":"Pa","format":"{{value}}","min":"-500","max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":400,"wires":[]},{"id":"5701e155.430d3","type":"ui_gauge","z":"b7da2b4c.163ff8","name":"","group":"ca392ea0.90a16","order":0,"width":0,"height":0,"gtype":"gage","title":"Druck Ventilator Digital","label":"Pa","format":"{{value}}","min":"-500","max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":600,"wires":[]},{"id":"43f58455.32627c","type":"function","z":"b7da2b4c.163ff8","name":"","func":"var x = msg.payload*(5/1024);\nmsg.payload = Math.round(x*1000)/1000;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["e344c95d.e66578","b5e329f8.6f3ec8"]]},{"id":"8660a1c9.621ba","type":"function","z":"b7da2b4c.163ff8","name":"","func":"var x = msg.payload*(5/1024);\nmsg.payload = Math.round(x*1000)/1000;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":520,"wires":[["74ff7fc8.543d2","19d42a92.dbbe05"]]},{"id":"3c2c920a.929a6e","type":"ui_chart","z":"b7da2b4c.163ff8","name":"","group":"d03e8cf7.5d584","order":1,"width":"12","height":"9","label":"Umdrehungen / min","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"14500","ymax":"15500","removeOlder":1,"removeOlderPoints":"30","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":720,"wires":[[],[]]},{"id":"9967bd41.3a3e9","type":"ui_text","z":"b7da2b4c.163ff8","group":"813f2d04.5c0bf","order":1,"width":0,"height":0,"name":"","label":"AnalogRead Venturi","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":240,"wires":[]},{"id":"ceb60aa3.6fd498","type":"ui_text","z":"b7da2b4c.163ff8","group":"813f2d04.5c0bf","order":4,"width":0,"height":0,"name":"","label":"AnalogRead Ventilator","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":480,"wires":[]},{"id":"e344c95d.e66578","type":"ui_text","z":"b7da2b4c.163ff8","group":"813f2d04.5c0bf","order":2,"width":0,"height":0,"name":"","label":"Spannung Venturi","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":280,"wires":[]},{"id":"74ff7fc8.543d2","type":"ui_text","z":"b7da2b4c.163ff8","group":"813f2d04.5c0bf","order":5,"width":0,"height":0,"name":"","label":"Spannung Ventilator","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":520,"wires":[]},{"id":"c76f6a.4e160098","type":"inject","z":"b7da2b4c.163ff8","name":"","topic":"","payload":"[]","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":720,"wires":[["62ad4256.b2af9c"]]},{"id":"62ad4256.b2af9c","type":"function","z":"b7da2b4c.163ff8","name":"chart reset","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":720,"wires":[["3c2c920a.929a6e"]]},{"id":"89af3431.072188","type":"ui_text","z":"b7da2b4c.163ff8","group":"d03e8cf7.5d584","order":3,"width":0,"height":0,"name":"","label":"Umdrehungen [SOLL]","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":680,"wires":[]},{"id":"5e8a8969.c55ad8","type":"ui_text","z":"b7da2b4c.163ff8","group":"d03e8cf7.5d584","order":4,"width":0,"height":0,"name":"","label":"Umdrehungen [IST]","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":720,"wires":[]},{"id":"f779e93.e91d018","type":"ui_text","z":"b7da2b4c.163ff8","group":"d03e8cf7.5d584","order":2,"width":0,"height":0,"name":"","label":"PWM Wert","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":680,"wires":[]},{"id":"b5e329f8.6f3ec8","type":"function","z":"b7da2b4c.163ff8","name":"","func":"var a_out = msg.payload;\nvar sgn = Math.sign((a_out/5)-0.5);\nvar tmp = 1;\n\nvar x = sgn*(Math.pow((a_out/(5*0.4))-1.25,2))*525;\n\n// node.warn(a_out + \" / \" + sgn + \" / \" + x);\n\nmsg.payload = Math.round(x*1000)/1000;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":360,"wires":[["65305786.d17408"]]},{"id":"65305786.d17408","type":"ui_text","z":"b7da2b4c.163ff8","group":"813f2d04.5c0bf","order":3,"width":0,"height":0,"name":"","label":"Umrechnung Venturi","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":360,"wires":[]},{"id":"37638b11.122684","type":"ui_text","z":"b7da2b4c.163ff8","group":"813f2d04.5c0bf","order":6,"width":0,"height":0,"name":"","label":"Umrechnung Ventilator","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":560,"wires":[]},{"id":"19d42a92.dbbe05","type":"function","z":"b7da2b4c.163ff8","name":"","func":"var a_out = msg.payload;\nvar sgn = Math.sign((a_out/5)-0.5);\nvar tmp = 1;\n\nvar x = sgn*(Math.pow((a_out/(5*0.4))-1.25,2))*525;\n\n//node.warn(a_out + \" / \" + sgn + \" / \" + x);\n\nmsg.payload = Math.round(x*1000)/1000;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":560,"wires":[["37638b11.122684"]]},{"id":"3e2079b3.eb27e6","type":"ui_text","z":"b7da2b4c.163ff8","group":"18b8b5b.ae2bf4a","order":1,"width":0,"height":0,"name":"","label":"Bus Voltage [V]","format":"{{msg.payload}}","layout":"row-spread","x":200,"y":520,"wires":[]},{"id":"db77ba71.3a6988","type":"ui_text","z":"b7da2b4c.163ff8","group":"18b8b5b.ae2bf4a","order":2,"width":0,"height":0,"name":"","label":"Shunt Voltage [mV]","format":"{{msg.payload}}","layout":"row-spread","x":210,"y":560,"wires":[]},{"id":"83a7593e.920588","type":"ui_text","z":"b7da2b4c.163ff8","group":"18b8b5b.ae2bf4a","order":3,"width":0,"height":0,"name":"","label":"Load Voltage [V]","format":"{{msg.payload}}","layout":"row-spread","x":200,"y":600,"wires":[]},{"id":"5aa22a9f.b09d74","type":"ui_text","z":"b7da2b4c.163ff8","group":"18b8b5b.ae2bf4a","order":4,"width":0,"height":0,"name":"","label":"Power [mW]","format":"{{msg.payload}}","layout":"row-spread","x":190,"y":680,"wires":[]},{"id":"30f1c873.d20cc8","type":"ui_text","z":"b7da2b4c.163ff8","group":"18b8b5b.ae2bf4a","order":5,"width":0,"height":0,"name":"","label":"Current [mA]","format":"{{msg.payload}}","layout":"row-spread","x":190,"y":640,"wires":[]},{"id":"78a0073f.03e108","type":"file","z":"b7da2b4c.163ff8","name":"Write LookUp Table / txt","filename":"C:\\Switchdrive\\160_DigitalTwin\\12_DemoSetup\\lookuptable\\lookuptable.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":850,"y":120,"wires":[]},{"id":"85b9b89.7cbac48","type":"function","z":"b7da2b4c.163ff8","name":"","func":"var counter = global.get(\"counter\");\n\nif (counter >= 5) {\n    global.set(\"counter\",0);\n    return msg;\n}\nelse {\n    counter++;\n    node.status({fill:\"red\",shape:\"ring\",text:counter});\n    global.set(\"counter\",counter);\n}\n","outputs":1,"noerr":0,"x":630,"y":120,"wires":[["78a0073f.03e108","907eec02.63a7e","5240d52d.ecfdec"]]},{"id":"907eec02.63a7e","type":"file","z":"b7da2b4c.163ff8","name":"Write LookUp Table","filename":"\\\\hsr.ch\\root\\alg\\scratch\\tmp_berni\\lookuptable.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":830,"y":160,"wires":[]},{"id":"31c53734.0d17d8","type":"inject","z":"b7da2b4c.163ff8","name":"set vars on boot","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":160,"y":60,"wires":[["ec461876.c3cb58"]]},{"id":"ec461876.c3cb58","type":"function","z":"b7da2b4c.163ff8","name":"global vars","func":"global.set(\"counter\",0);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":60,"wires":[[]]},{"id":"5240d52d.ecfdec","type":"file","z":"b7da2b4c.163ff8","name":"Write LookUp Table / json","filename":"C:\\Switchdrive\\160_DigitalTwin\\12_DemoSetup\\lookuptable\\lookuptable.json","appendNewline":true,"createDir":false,"overwriteFile":"false","x":870,"y":80,"wires":[]},{"id":"e70830fd.7402b","type":"function","z":"b7da2b4c.163ff8","name":"","func":"var msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9, msg10, msg11, msg12, msg13;\n\nmsg1 = { \"payload\" : msg.payload.p_venturi };\nmsg2 = { \"payload\" : msg.payload.analog_venturi };\nmsg3 = { \"payload\" : msg.payload.p_venti };\nmsg4 = { \"payload\" : msg.payload.analog_venti };\nmsg5 = { \"payload\" : msg.payload.p_venti_digital };\nmsg6 = { \"payload\" : msg.payload.pwm };\nmsg7 = { \"payload\" : msg.payload.speed_target };\nmsg8 = { \"payload\" : msg.payload.calc_min_avg };\nmsg9 = { \"payload\" : msg.payload.bus_voltage };\nmsg10 = { \"payload\" : msg.payload.shunt_voltage };\nmsg11 = { \"payload\" : msg.payload.load_voltage };\nmsg12 = { \"payload\" : msg.payload.current };\nmsg13 = { \"payload\" : msg.payload.power };\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9, msg10, msg11, msg12, msg13];","outputs":"13","noerr":0,"x":170,"y":380,"wires":[["3c948cd1.d66834"],["9967bd41.3a3e9","43f58455.32627c"],["231a8623.ec461a"],["ceb60aa3.6fd498","8660a1c9.621ba"],["5701e155.430d3"],["f779e93.e91d018"],["89af3431.072188","9280a86a.655e68"],["5e8a8969.c55ad8","f139064f.893fe8"],["3e2079b3.eb27e6"],["db77ba71.3a6988"],["83a7593e.920588"],["30f1c873.d20cc8"],["5aa22a9f.b09d74"]]},{"id":"11d65cb.95fbda3","type":"function","z":"b7da2b4c.163ff8","name":"","func":"var venturi = msg.payload.p_venturi;\n\nif (Math.abs(msg.payload.calc_min_avg - msg.payload.speed_target) > 80) {\n    msg.payload = \" -- System am regeln -- \";\n}\nelse if (venturi < 1) msg.payload = \"System geschlossen\";\nelse if (venturi >= 1 && venturi < 3.6) msg.payload = \"1/50 Öffnung\";\nelse if (venturi >= 3.6 && venturi < 12.1) msg.payload = \"1/20 Öffnung\";\nelse if (venturi >= 12.1 && venturi < 22.3) msg.payload = \"1/10 Öffnung\";\nelse if (venturi >= 22.3 && venturi < 47.3) msg.payload = \"1/8 Öffnung\";\nelse if (venturi >= 47.3 && venturi < 83.4) msg.payload = \"1/4 Öffnung\";\nelse if (venturi >= 83.4 && venturi < 107.2) msg.payload = \"1/2 Öffnung\";\nelse if (venturi >= 107.2 && venturi < 124.9) msg.payload = \"3/4 Öffnung\";\nelse if (venturi >= 124.9) msg.payload = \"System offen\";\nelse msg.payload = \"ERROR STATE !!\";\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["f17e2447.0ae5e8"]]},{"id":"f17e2447.0ae5e8","type":"ui_text","z":"b7da2b4c.163ff8","group":"55344e61.ebe43","order":4,"width":0,"height":0,"name":"","label":"Qualitativ: ","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":200,"wires":[]},{"id":"a37bdc8c.a13cb","type":"json","z":"b7da2b4c.163ff8","name":"","pretty":false,"x":240,"y":200,"wires":[["2b0768c.9ab1c98","11d65cb.95fbda3","e70830fd.7402b"]]},{"id":"ebae5669.ab4518","type":"websocket in","z":"aa72e3e2.c257e","name":"","server":"3343c94f.c25ce6","client":"","x":100,"y":100,"wires":[["8daf0d28.9cc5","ca865794.49ecf8"]]},{"id":"8daf0d28.9cc5","type":"debug","z":"aa72e3e2.c257e","name":"","active":true,"console":"false","complete":"false","x":330,"y":100,"wires":[]},{"id":"220f0705.074a78","type":"switch","z":"aa72e3e2.c257e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"p_venturi","vt":"str"},{"t":"eq","v":"analog_venturi","vt":"str"},{"t":"eq","v":"p_venti","vt":"str"},{"t":"eq","v":"analog_venti","vt":"str"},{"t":"eq","v":"p_venti_digital","vt":"str"},{"t":"eq","v":"pwm","vt":"str"},{"t":"eq","v":"speed_target","vt":"str"},{"t":"eq","v":"calc_min_avg","vt":"str"},{"t":"eq","v":"bus_voltage","vt":"str"},{"t":"eq","v":"shunt_voltage","vt":"str"},{"t":"eq","v":"load_voltage","vt":"str"},{"t":"eq","v":"current","vt":"str"},{"t":"eq","v":"power","vt":"str"}],"checkall":"true","outputs":13,"x":150,"y":300,"wires":[["a8565a47.02e138"],["4f6fb945.f6a298","ee1b65da.c42af8"],["df741612.907aa8"],["6e9d1d6a.c23e14","5cd97db3.8e2754"],["a4e993e0.b3023"],["b2a70bea.6492a8"],["479833ac.f7c5ac","23dab332.ad745c"],["479833ac.f7c5ac","c2690bc0.c8df98"],["e8ba846c.735088"],["24dd0a6d.3fda16"],["e6565da4.1e908"],["31f1f204.2b540e"],["137a32df.513a7d"]]},{"id":"49c08d9a.8d7e54","type":"split","z":"aa72e3e2.c257e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":390,"y":160,"wires":[["53aef1a4.05205","220f0705.074a78"]]},{"id":"ca865794.49ecf8","type":"json","z":"aa72e3e2.c257e","name":"","pretty":true,"x":250,"y":160,"wires":[["49c08d9a.8d7e54","68bdb2da.23c75c"]]},{"id":"53aef1a4.05205","type":"debug","z":"aa72e3e2.c257e","name":"","active":false,"console":"false","complete":"false","x":570,"y":160,"wires":[]},{"id":"a8565a47.02e138","type":"ui_gauge","z":"aa72e3e2.c257e","name":"","group":"1e9d24ad.370abb","order":0,"width":0,"height":0,"gtype":"gage","title":"Druck Venturi","label":"Pa","format":"{{value}}","min":"-500","max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":220,"wires":[]},{"id":"df741612.907aa8","type":"ui_gauge","z":"aa72e3e2.c257e","name":"","group":"1e9d24ad.370abb","order":0,"width":0,"height":0,"gtype":"gage","title":"Druck Ventilator","label":"Pa","format":"{{value}}","min":"-500","max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":340,"wires":[]},{"id":"a4e993e0.b3023","type":"ui_gauge","z":"aa72e3e2.c257e","name":"","group":"1e9d24ad.370abb","order":0,"width":0,"height":0,"gtype":"gage","title":"Druck Ventilator Digital","label":"Pa","format":"{{value}}","min":"-500","max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":540,"wires":[]},{"id":"4f6fb945.f6a298","type":"function","z":"aa72e3e2.c257e","name":"","func":"var x = msg.payload*(5/1024);\nmsg.payload = Math.round(x*1000)/1000;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["3208178d.117fa8","c783c195.01e5a"]]},{"id":"6e9d1d6a.c23e14","type":"function","z":"aa72e3e2.c257e","name":"","func":"var x = msg.payload*(5/1024);\nmsg.payload = Math.round(x*1000)/1000;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":460,"wires":[["4e503b3.4afdfc4","be16ccea.25ec2"]]},{"id":"479833ac.f7c5ac","type":"ui_chart","z":"aa72e3e2.c257e","name":"","group":"ca1dc326.f3dda","order":1,"width":"12","height":"9","label":"Umdrehungen / min","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"14500","ymax":"15500","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":660,"wires":[[],[]]},{"id":"ee1b65da.c42af8","type":"ui_text","z":"aa72e3e2.c257e","group":"ffa377c8.6aef48","order":1,"width":0,"height":0,"name":"","label":"AnalogRead Venturi","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":180,"wires":[]},{"id":"5cd97db3.8e2754","type":"ui_text","z":"aa72e3e2.c257e","group":"ffa377c8.6aef48","order":4,"width":0,"height":0,"name":"","label":"AnalogRead Ventilator","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":420,"wires":[]},{"id":"3208178d.117fa8","type":"ui_text","z":"aa72e3e2.c257e","group":"ffa377c8.6aef48","order":2,"width":0,"height":0,"name":"","label":"Spannung Venturi","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":220,"wires":[]},{"id":"4e503b3.4afdfc4","type":"ui_text","z":"aa72e3e2.c257e","group":"ffa377c8.6aef48","order":5,"width":0,"height":0,"name":"","label":"Spannung Ventilator","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":460,"wires":[]},{"id":"a733f83.c129f08","type":"inject","z":"aa72e3e2.c257e","name":"","topic":"","payload":"[]","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":660,"wires":[["4281bf6e.b479a"]]},{"id":"4281bf6e.b479a","type":"function","z":"aa72e3e2.c257e","name":"chart reset","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":660,"wires":[["479833ac.f7c5ac"]]},{"id":"23dab332.ad745c","type":"ui_text","z":"aa72e3e2.c257e","group":"ca1dc326.f3dda","order":3,"width":0,"height":0,"name":"","label":"Umdrehungen [SOLL]","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":620,"wires":[]},{"id":"c2690bc0.c8df98","type":"ui_text","z":"aa72e3e2.c257e","group":"ca1dc326.f3dda","order":4,"width":0,"height":0,"name":"","label":"Umdrehungen [IST]","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":660,"wires":[]},{"id":"b2a70bea.6492a8","type":"ui_text","z":"aa72e3e2.c257e","group":"ca1dc326.f3dda","order":2,"width":0,"height":0,"name":"","label":"PWM Wert","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":620,"wires":[]},{"id":"c783c195.01e5a","type":"function","z":"aa72e3e2.c257e","name":"","func":"var a_out = msg.payload;\nvar sgn = Math.sign((a_out/5)-0.5);\nvar tmp = 1;\n\nvar x = sgn*(Math.pow((a_out/(5*0.4))-1.25,2))*525;\n\n// node.warn(a_out + \" / \" + sgn + \" / \" + x);\n\nmsg.payload = Math.round(x*1000)/1000;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":300,"wires":[["2db0f6b6.da7c5a"]]},{"id":"2db0f6b6.da7c5a","type":"ui_text","z":"aa72e3e2.c257e","group":"ffa377c8.6aef48","order":3,"width":0,"height":0,"name":"","label":"Umrechnung Venturi","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":300,"wires":[]},{"id":"9ebca6dd.131218","type":"ui_text","z":"aa72e3e2.c257e","group":"ffa377c8.6aef48","order":6,"width":0,"height":0,"name":"","label":"Umrechnung Ventilator","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":500,"wires":[]},{"id":"be16ccea.25ec2","type":"function","z":"aa72e3e2.c257e","name":"","func":"var a_out = msg.payload;\nvar sgn = Math.sign((a_out/5)-0.5);\nvar tmp = 1;\n\nvar x = sgn*(Math.pow((a_out/(5*0.4))-1.25,2))*525;\n\n//node.warn(a_out + \" / \" + sgn + \" / \" + x);\n\nmsg.payload = Math.round(x*1000)/1000;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":500,"wires":[["9ebca6dd.131218"]]},{"id":"e8ba846c.735088","type":"ui_text","z":"aa72e3e2.c257e","group":"a55f9bb2.574548","order":1,"width":0,"height":0,"name":"","label":"Bus Voltage [V]","format":"{{msg.payload}}","layout":"row-spread","x":180,"y":460,"wires":[]},{"id":"24dd0a6d.3fda16","type":"ui_text","z":"aa72e3e2.c257e","group":"a55f9bb2.574548","order":2,"width":0,"height":0,"name":"","label":"Shunt Voltage [mV]","format":"{{msg.payload}}","layout":"row-spread","x":190,"y":500,"wires":[]},{"id":"e6565da4.1e908","type":"ui_text","z":"aa72e3e2.c257e","group":"a55f9bb2.574548","order":3,"width":0,"height":0,"name":"","label":"Load Voltage [V]","format":"{{msg.payload}}","layout":"row-spread","x":180,"y":540,"wires":[]},{"id":"137a32df.513a7d","type":"ui_text","z":"aa72e3e2.c257e","group":"a55f9bb2.574548","order":4,"width":0,"height":0,"name":"","label":"Power [mW]","format":"{{msg.payload}}","layout":"row-spread","x":170,"y":620,"wires":[]},{"id":"31f1f204.2b540e","type":"ui_text","z":"aa72e3e2.c257e","group":"a55f9bb2.574548","order":5,"width":0,"height":0,"name":"","label":"Current [mA]","format":"{{msg.payload}}","layout":"row-spread","x":170,"y":580,"wires":[]},{"id":"2eb3ee9e.18e3e2","type":"file","z":"aa72e3e2.c257e","name":"Write LookUp Table / txt","filename":"C:\\Switchdrive\\160_DigitalTwin\\12_DemoSetup\\lookuptable\\lookuptable.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":830,"y":100,"wires":[]},{"id":"68bdb2da.23c75c","type":"function","z":"aa72e3e2.c257e","name":"","func":"var counter = global.get(\"counter\");\n\nif (counter >= 5) {\n    global.set(\"counter\",0);\n    return msg;\n}\nelse {\n    counter++;\n    node.status({fill:\"red\",shape:\"ring\",text:counter});\n    global.set(\"counter\",counter);\n}\n","outputs":1,"noerr":0,"x":610,"y":100,"wires":[["2eb3ee9e.18e3e2","9a304747.c0c208","9bb13d19.251fa"]]},{"id":"9a304747.c0c208","type":"file","z":"aa72e3e2.c257e","name":"Write LookUp Table","filename":"\\\\hsr.ch\\root\\alg\\scratch\\tmp_berni\\lookuptable.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":790,"y":140,"wires":[]},{"id":"1eac9235.4bb6ee","type":"inject","z":"aa72e3e2.c257e","name":"set vars on boot","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":140,"y":40,"wires":[["c32e3585.a5e3c8"]]},{"id":"c32e3585.a5e3c8","type":"function","z":"aa72e3e2.c257e","name":"global vars","func":"global.set(\"counter\",0);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":40,"wires":[[]]},{"id":"9bb13d19.251fa","type":"file","z":"aa72e3e2.c257e","name":"Write LookUp Table / json","filename":"C:\\Switchdrive\\160_DigitalTwin\\12_DemoSetup\\lookuptable\\lookuptable.json","appendNewline":true,"createDir":false,"overwriteFile":"false","x":850,"y":60,"wires":[]},{"id":"9280a86a.655e68","type":"function","z":"b7da2b4c.163ff8","name":"","func":"msg.topic = \"Undrehungen SOLL\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":640,"wires":[["3c2c920a.929a6e"]]},{"id":"f139064f.893fe8","type":"function","z":"b7da2b4c.163ff8","name":"","func":"msg.topic = \"Undrehungen IST\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":680,"wires":[["3c2c920a.929a6e"]]}]